body {
    -moz-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

header,
main {
    background-color: #1d1c44;
}

main {
    min-height: 370px;
}

header nav li:hover {
    background-color: #49438d;
}

.thangNam {
    cursor: pointer;
}


main nav li:hover {
    border-bottom: 2px solid #ff55c5;
}

.noGiaoDich{
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

.add {
    transform: scale(0.08);
    top: 100px;
}

.add img {
    transform: scale(0.65);
}

.modal-header .modal-title {
    color: #49438d;
}

.modal-body {
    font-weight: 500;
}

.modal-body .form-control,
.modal-body .form-select {
    color: #49438d;
    font-weight: 500;
}

.modal-body .nav-link {
    color: black;
    font-weight: 500;
}

.modal-body .nav-item:first-child .nav-link.active {
    border-color: #196fd1;
    color: #7cb9fe;
}

.modal-body .nav-item:last-child .nav-link.active {
    border-color: #b05f5f;
    color: #f97a7a;
}

.modal-body .labelQuyChiTieu {
    color: #f97a7a;
}

.modal-body .labelTheLoai {
    color: #f97a7a;
}

.modal-footer #btnLuu {
    width: 78%;
    background-color: rgb(61, 60, 100);
    font-weight: 500;
}

.modal-footer #btnTiepTuc {
    font-weight: 500;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .add {
        right: -200px;
        ;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .add {
        right: -110px;
        ;
    }
}

/* @media only screen and (max-width: 767px) {
    .content .col-md-6:nth-child(2){
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
} */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .add {
        right: -115px;
        ;
    }

    .content .col-md-6:nth-child(2) {
        padding-left: 0;
    }

    .container {
        max-width: 991px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .add {
        right: -130px;
        ;
    }

    .container {
        max-width: 1320px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .add {
        right: -100px;
    }
}