body {
    -moz-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

header,
main {
    background-color: #1d1c44;
}

main {
    min-height: 370px;
}

header nav li:hover {
    background-color: #49438d;
}

.thangNam {
    cursor: pointer;
}


main nav li:hover {
    border-bottom: 2px solid #ff55c5;
}

main .huHover:hover{
    cursor: pointer;
}

main .soDuHuTaiChinh {
    width: 300px;
    background-image: linear-gradient(to right, #744bb0, violet, #c664ea, indigo);
    border-radius: 15px;
    color: white;
    max-width: 90%;
}

main .soDuCacHu {
    border-radius: 15px;
    width: 530px;
    background-color: #3d3c64;
    max-width: 93%;
    max-height: 430px;
    overflow-x: hidden;
    overflow-y: auto;
}

main .soDuCacHu .huIcon {
    border-radius: 15px;
    color: white;
    height: 40px;
    width: 40px;
    font-size: 19px;
    padding-top: 3px;
    padding-left: 11px;
}

.captionCacHu{
    background-color: #505074;
    border-radius: 15px;
    padding: 15px 10px;
    margin: 5px;
}

.divColor{
    width: 18px;
    height: 18px;
    background-color: yellow;
    display: inline-block;
    margin-right: 5px;
    border-radius: 7px;
}

main #divColor1 {
    background-color: #eb4c60;
}

main #divColor2 {
    background-color: #1992fe;
}

main #divColor3 {
    background-color: #ff54c6;
}

main #divColor4 {
    background-color: #48dc28;
}

main #divColor5 {
    background-color: #17f4e3;
}

main #divColor6 {
    background-color: #fdbe01;
}

.dropdown-menu{
    background-color: #3d3c64;
    width: 100%;
}

.dropdown-item{
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-item:hover {
    background-color: #1d1c44;
}

.dropdown-item:focus {
    background-color: black;
}

.react-datepicker__input-container input{
    color: white;
    background-color: #1d1c44;
    width: 90%;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
}

main .dropdownHu {
    width: 450px;
}

main .soDuCacHu .loaiHu {
    color: white;
}

main .soDuCacHu .soDuHu {
    color: #c657f9;
}

main .huIcon1 {
    background-color: #eb4c60;
}

main .huIcon2 {
    background-color: #1992fe;
}

main .huIcon3 {
    background-color: #ff54c6;
}

main .huIcon4 {
    background-color: #48dc28;
}

main .huIcon5 {
    background-color: #17f4e3;
}

main .huIcon6 {
    background-color: #fdbe01;
}

main .soDuHuTaiChinh .soDu {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.dropdown-toggle::after {
    display: none !important;
}

.noGiaoDich {
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

.add {
    transform: scale(0.08);
    top: 100px;
}

.add img {
    transform: scale(0.65);
}

.giaoDich:hover {
    cursor: pointer;
}

.modal-header .modal-title {
    color: #49438d;
}

.modal-body {
    font-weight: 500;
}

.modal-body .form-control,
.modal-body .form-select {
    color: #49438d;
    font-weight: 500;
}

.modal-body .nav-link {
    color: black;
    font-weight: 500;
}

.modal-body .nav-item:first-child .nav-link.active {
    border-color: #196fd1;
    color: #7cb9fe;
}

.modal-body .nav-item:last-child .nav-link.active {
    border-color: #b05f5f;
    color: #f97a7a;
}

.modal-body .labelQuyTaiChinh {
    color: #f97a7a;
}

.modal-body .labelTheLoai {
    color: #f97a7a;
}

.modal-footer {
    justify-content: flex-start;
}

.modal-footer #btnLuu {
    width: 78%;
    background-color: rgb(61, 60, 100);
    font-weight: 500;
}

.modal-footer #btnTiepTuc {
    font-weight: 500;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .add {
        right: -200px;
        ;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .add {
        right: -110px;
        ;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .add {
        right: -115px;
        ;
    }

    .content .col-md-6:nth-child(2) {
        padding-left: 0;
    }

    .container {
        max-width: 991px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .add {
        right: -130px;
        ;
    }

    .container {
        max-width: 1320px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .add {
        right: -100px;
    }
}
